name: Publish to NuGet

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write # REQUIRED for Trusted Publishing
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Get Version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Pack
        run: |
          dotnet pack Skugga.Core/Skugga.Core.csproj \
          --configuration Release \
          --output nupkg \
          /p:PackageVersion=${{ env.VERSION }}

      # NuGet.exe is currently required for OIDC (Trusted Publishing)
      - name: Setup NuGet.exe
        uses: nuget/setup-nuget@v2

      - name: Publish to NuGet
        # The ApiKey 'az' is a dummy value; NuGet.org validates the OIDC token instead.
        run: |
            dotnet nuget push nupkg/*.nupkg \
            --source https://api.nuget.org/v3/index.json \
            --api-key ${{ secrets.NUGET_API_KEY }} \
            --skip-duplicate